In [1]:
import pandas as pd

In [2]:
# read dataset 
data  = pd.read_csv('gender_submission.csv')

In [3]:
data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [4]:
data.shape

(418, 2)

In [5]:
data.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [6]:
data.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [8]:
data.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [9]:
data['Survived'].value_counts()

0    266
1    152
Name: Survived, dtype: int64