## Importing Necessary Packages

In [1]:
import pandas as pd

In [2]:
#Reading file
data = pd.read_csv("dataset.csv")

## Exploratory Data Analysis

In [3]:
data.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35717 entries, 0 to 35716
Data columns (total 4 columns):
SystemCodeNumber    35717 non-null object
Capacity            35717 non-null int64
Occupancy           35717 non-null int64
LastUpdated         35717 non-null object
dtypes: int64(2), object(2)
memory usage: 1.1+ MB

In [5]:
data.describe()

           Capacity     Occupancy
count  35717.000000  35717.000000
mean    1397.550130    642.228911
std     1179.326833    656.955535
min      220.000000     -8.000000
25%      500.000000    210.000000
50%      849.000000    446.000000
75%     2009.000000    798.000000
max     4675.000000   4327.000000

In [6]:
data.isnull().sum()

SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
dtype: int64

In [7]:
data[data['Occupancy']<0]

      SystemCodeNumber  Capacity  Occupancy          LastUpdated
23889        NIA North       480         -3  2016-10-16 15:57:16
23890        NIA North       480         -3  2016-10-16 16:31:17
23906        NIA North       480         -1  2016-10-18 15:27:59
23919        NIA North       480         -8  2016-10-28 13:02:43
23924        NIA North       480         -1  2016-10-28 15:29:41
23925        NIA North       480         -4  2016-10-28 16:02:40
23926        NIA North       480         -1  2016-10-28 16:29:42
23937        NIA North       480         -2  2016-10-29 12:59:51
23944        NIA North       480         -1  2016-10-29 16:26:53
23997        NIA North       480         -3  2016-11-10 16:00:15
24032        NIA North       480         -1  2016-11-30 15:28:40
24033        NIA North       480         -2  2016-11-30 16:01:39

In [8]:
pd.unique(data['SystemCodeNumber'])

array(['BHMBCCMKT01', 'BHMBCCPST01', 'BHMBCCSNH01', 'BHMBCCTHL01',
       'BHMBRCBRG01', 'BHMBRCBRG02', 'BHMBRCBRG03', 'BHMBRTARC01',
       'BHMEURBRD01', 'BHMEURBRD02', 'BHMMBMMBX01', 'BHMNCPHST01',
       'BHMNCPLDH01', 'BHMNCPNHS01', 'BHMNCPNST01', 'BHMNCPPLS01',
       'BHMNCPRAN01', 'Broad Street', 'Bull Ring', 'NIA Car Parks',
       'NIA North', 'NIA South', 'Others-CCCPS105a', 'Others-CCCPS119a',
       'Others-CCCPS133', 'Others-CCCPS135a', 'Others-CCCPS202',
       'Others-CCCPS8', 'Others-CCCPS98', 'Shopping'], dtype=object)

In [9]:
pd.unique(data['SystemCodeNumber']).shape

(30,)

In [10]:
data['LastUpdated'] = pd.to_datetime(data['LastUpdated'])

In [11]:
data['LastUpdated']

0       2016-10-04 07:59:42
1       2016-10-04 08:25:42
2       2016-10-04 08:59:42
3       2016-10-04 09:32:46
4       2016-10-04 09:59:48
                ...
35712   2016-12-19 14:30:33
35713   2016-12-19 15:03:34
35714   2016-12-19 15:29:33
35715   2016-12-19 16:03:35
35716   2016-12-19 16:30:35
Name: LastUpdated, Length: 35717, dtype: datetime64[ns]

In [12]:
data['LastUpdated'].min()

Timestamp('2016-10-04 07:46:28')

In [13]:
data['LastUpdated'].max()

Timestamp('2016-12-19 16:30:35')

In [14]:
data.groupby(by=['SystemCodeNumber']).size()

SystemCodeNumber
BHMBCCMKT01         1312
BHMBCCPST01         1276
BHMBCCSNH01         1294
BHMBCCTHL01         1312
BHMBRCBRG01         1186
BHMBRCBRG02         1186
BHMBRCBRG03         1186
BHMBRTARC01           88
BHMEURBRD01         1312
BHMEURBRD02         1276
BHMMBMMBX01         1312
BHMNCPHST01         1312
BHMNCPLDH01         1292
BHMNCPNHS01         1038
BHMNCPNST01         1312
BHMNCPPLS01         1291
BHMNCPRAN01         1186
Broad Street        1312
Bull Ring           1186
NIA Car Parks       1204
NIA North            162
NIA South           1204
Others-CCCPS105a    1312
Others-CCCPS119a    1312
Others-CCCPS133     1294
Others-CCCPS135a    1312
Others-CCCPS202     1312
Others-CCCPS8       1312
Others-CCCPS98      1312
Shopping            1312
dtype: int64

In [15]:
pd.pivot_table?

In [16]:
pd.pivot_table(
    data,
    values=data['Occupancy'],
    index=pd.to_datetime(data['LastUpdated']),
    columns=data['SystemCodeNumber'],
    fill_value=0
)

KeyError: 61